GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:8082/google-callback.php

SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_ENCRYPTION=tls
SMTP_USERNAME=ton-compte
SMTP_PASSWORD=ton-mot-de-passe
MAIL_FROM_ADDRESS=no-reply@example.com
MAIL_FROM_NAME=Game Store

DB_HOST=db
DB_NAME=gamestore
DB_USER=user
DB_PASSWORD=userpassword
DB_CHARSET=utf8mb4
